name: Pull Request Checks
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
jobs:
  lint:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: '22.x'
            cache: 'npm'
        - run: npm install

        - run: npx eslint --quiet
  test:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: '22.x'
            cache: 'npm'
        - run: npm install

        - name: cache card data json files
          id: cache-card-data
          uses: actions/cache@v3
          with:
            path: ./test/json
            # IMPORTANT: if you change the cache key name below, also change it in update-cache.yml
            key: sor-shd-twi-manual-v09-duplicateaspects
        - if: ${{ steps.cache-card-data.outputs.cache-hit != 'true' }}
          run: npm run get-cards

        - run: npm run test-parallel
